//colors 
$white: #ffffff;
$black: #000000;
$text-dark: #292D32;
$text-dark2: #404B52;
$text-light: #B5B7C0;
$secondary-grey: #7E7E7E;
$secondary-grey2: #757575;
$text-accent: #16C098;
$text-active: #008767;
$text-inactive: #DF0404;
$color-active: #00B087;
$color-inactive: #FFC5C5;
$active: #5932EA;
$divider: #EEEEEE;
$bg: #FAFBFF;
$bg-light: #F9FBFF;
$bg-light2: #F5F5F5;

// breakpoints
$mobile: 390px;