<div class="content">
  <div class="content-container">
    <div class="welcome__container">
      <h1 class="welcome__text">Hello Evano 👋🏼,</h1>
      <div class="welcome__mobile">
        <div id="nav-icon4">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div class="table">
      <div class="content__header">
        <div class="table__wrapper">
          <h2 class="table__title">All Customers</h2>
          <p class="table__subtitle">Active Members</p>
        </div>
        <form class="table__search search">
          <label for="search" type="submit" class="search__button">
            <img src="./images/search.svg" class="search__icon" alt="search" />
          </label>
          <input id="search" class="search__input" placeholder="Search" />
        </form>
      </div>
      <div class="table__content">
        <div>
          <div class="table-head">
            <span class="table-head__name table-head__item">Customer Name</span>
            <span class="table-head__company table-head__item">Company</span>
            <span class="table-head__phone table-head__item">Phone Number</span>
            <span class="table-head__email table-head__item">Email</span>
            <span class="table-head__country table-head__item">Country</span>
            <span class="table-head__status table-head__item">Status</span>
          </div>
          <ul id="table"></ul>
        </div>
      </div>
      <div class="table__bottom">
        <span>Showing data 1 to 8 of 256K entries</span>
        <ul class="pagination">
          <li class="pagination__item">
            <img
              src="./images/left-arrow.svg"
              class="pagination__arrow"
              alt="arrow return"
            />
          </li>
          <li class="pagination__item">1</li>
          <li class="pagination__item">2</li>
          <li class="pagination__item">3</li>
          <li class="pagination__item">4</li>
          <li>...</li>
          <li class="pagination__item">40</li>
          <li class="pagination__item">
            <img
              src="./images/right-arrow.svg"
              class="pagination__arrow"
              alt="arrow next"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
