<div class="navigation" id="navigation">
  <div class="logo">
    <span class="logo__container">
      <img src="./images/logo.svg" alt="logo" class="logo__icon" alt="logo" />
      <span class="logo__text">Dashboard</span>
    </span>
    <span class="logo__version">v.01</span>
  </div>
  <ul class="menu-container" id="menu">
    <li class="menu-item">
      <img
        src="./images/key-square.svg"
        alt="dashboard"
        class="menu-item__icon"
      />
      <a href="">Dashboard</a>
    </li>
    <li class="menu-item">
      <img src="./images/3d-square.svg" alt="product" class="menu-item__icon" />
      <a href="">Product</a>
      <img src="./images/arrow.svg" alt="icon" class="menu-item__arrow" />
    </li>
    <li class="menu-item active">
      <img
        src="./images/user-square.svg"
        alt="customers"
        class="menu-item__icon"
      />
      <a href="">Customers</a>
      <img src="./images/arrow.svg" alt="icon" class="menu-item__arrow" />
    </li>
    <li class="menu-item">
      <img
        src="./images/wallet-money.svg"
        alt="income"
        class="menu-item__icon"
      />
      <a href="">Income</a>
      <img src="./images/arrow.svg" alt="icon" class="menu-item__arrow" />
    </li>
    <li class="menu-item">
      <img
        src="./images/discount-shape.svg"
        alt="promote"
        class="menu-item__icon"
      />
      <a href="">Promote</a>
      <img src="./images/arrow.svg" alt="icon" class="menu-item__arrow" />
    </li>
    <li class="menu-item">
      <img
        src="./images/message-question.svg"
        alt="help"
        class="menu-item__icon"
      />
      <a href="">Help</a>
      <img src="./images/arrow.svg" alt="icon" class="menu-item__arrow" />
    </li>
  </ul>
  <div class="space"></div>
  <div class="user">
    <img class="user__image" src="./images/user.png" alt="users photo" />
    <div class="user__data">
      <span class="user__name">Evano</span>
      <span class="user__position">Project Manager</span>
    </div>
  </div>
</div>
